@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .btn {
    @apply bg-blue-600 border-blue-300 rounded-full px-16 py-2
    m-6 hover:brightness-90 hover:shadow-lg hover:scale-105 
    transform transition-all duration-100 ease-out active:brightness-75;
  }

  .home {
    @apply flex w-full flex-1 flex-col items-center justify-center text-center 
    py-5 border-t border-gray-400 scroll-smooth;
  }

  .pokedex {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 
    lg:grid-cols-3 2xl:grid-cols-4 max-w-5xl;
  }

  .card {
    @apply w-60 m-2 flex flex-col justify-center hover:scale-105 
    hover:shadow-xl transform transition-all duration-200 ease-out text-center;
  }

  .loadingCard {
    @apply flex min-h-screen flex-col items-center justify-center 
    bg-gray-800 text-white;
  }

  .pokemonPage {
    @apply scroll-smooth flex min-h-screen flex-col items-center 
    justify-center text-white bg-gradient-to-b px-2 relative;
  }

  .altPage {
    @apply h-14 text-gray-200 bg-gray-700 border-8 border-gray-700 rounded-full;
  }

  .switcher {
    @apply w-[78px] h-[42px] rounded-full
    bg-blue-400 after:content-[''] after:absolute 
    after:inset-0 after:my-auto after:left-1 after:bg-white after:border-gray-300 
    after:border after:rounded-full after:h-[35px] after:w-[35px] after:transition-all 
    dark:border-gray-600 flex justify-between items-center p-2 transform transition-all duration-700;
  }

  .goTop {
    @apply bg-gray-800 bottom-5 right-6 rounded-full 
    p-2 border border-gray-300 shadow-lg fixed z-20 
    hover:bg-gray-700 transform transition-all duration-75;
  }

  .header {
    @apply w-full p-4 bg-gray-800 text-slate-200 flex items-center justify-between md:px-8 lg:px-14;
  }

  .headerBtn {
    @apply flex hover:bg-gray-300 items-center justify-center text-gray-800 
    bg-gray-200 py-2 px-3 rounded-lg font-medium text-sm transition-all transform duration-75 ease-out;
  }

  .measure {
    @apply bg-gray-700 rounded-xl p-6 shadow-md text-center min-w-[135px];
  }

  .evoLine {
    @apply flex items-center space-x-2 w-full flex-wrap justify-center p-1;
  }
}
